.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  overflow: hidden;
  padding-top: 100px;
}

.not-found-page img {
  max-width: 320px;
  max-height: 200px;
}
